<footer>
    <nav class="footer__navbar container">
        <ul class="footer__menu">
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="/shop">SHOP</a></li>
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="/auth/register">REGISTRARSE</a></li>
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="/auth/login">INGRESAR</a></li>
            <li class="footer__menubtn"><a class="footer__menubtn-link" href="/contact">CONTACTO</a></li>
        </ul>
        <picture class="footer__logo">
            <a href="/home">
                <img src="/images/branding/isotype.svg" alt="Logo Funkoshop">
            </a>
        </picture>
    </nav>
    <p class="footer__derechos container CopyMax">Todos los derechos Resevados 2023 - Funkoshop &copy;</p>
    <p class="footer__derechos container CopyMin">Todos los derechos Resevados 2023<br>Funkoshop &copy;</p>
</footer>