<%- include('../partials/header'); -%>

<main class="login__main">
    <h1 class="login__tittle">INGRESAR A MI CUENTA</h1>
    <form class="login__form" action="/auth/login" method="POST">
        <div class="login__form-row">
            <label class="login__form-label" for="user">Email:</label>
            <input class="login__inputs" type="email" name="user" id="user" placeholder="johndoe@correo.com" value="cac23577-grupo1@gmail.com" required>
        </div>
        <div class="login__form-row">
            <label class="login__form-label" for="password">Contraseña:</label>
            <input class="login__inputs" type="password" name="password" id="password" placeholder="......." value="pass123" required>
        </div>
        <div class="login__form-rowBtnChk">
            <input class="login__button-login" type="submit" value="Ingresar">
            <p class="login__recordarme"><input class="checkbox" type="checkbox" name="recordarme">Recordarme</p>
        </div>
            <a class="login__forgot-password" href="#">Olvide mi Contraseña</a>
    </form>
</main>

<%- include('../partials/footer'); -%> 

<!-- Vinculacion con Libreria Iconify 1.0.7 -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
<Script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></Script>
</body>
</html>